[agent]
  interval = "10s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "10s"
  flush_jitter = "0s"
  precision = "0s"
  hostname = ""
  omit_hostname = false

[[outputs.influxdb_v2]]
  urls = {{ influxdb_urls }}
  ## Token for authentication.
  token = "{{ influxdb_token }}"
  organization = "tartarus" 
  bucket = "telegraf"

{% if 'nas' in group_names %}
[[inputs.zfs]]
  poolMetrics = true
  datasetMetrics = true
{% endif %}

[[inputs.sensors]]

# Read metrics from SMART storage devices using smartclt's JSON output
[[inputs.smartctl]]
  interval = "1h"

  ## Optionally specify the path to the smartctl executable
  path = "/usr/sbin/smartctl"

  ## Use sudo
  ## On most platforms used, smartctl requires root access. Setting 'use_sudo'
  ## to true will make use of sudo to run smartctl. Sudo must be configured to
  ## allow the telegraf user to run smartctl without a password.
  use_sudo = true