# {{ ansible_managed }}

maxretry = 3

[qnapups]
    driver = "usbhid-ups"
    port = "auto"
    vendorid = "09AE"
    productid = "2012"
    product = "Tripp Lite UPS"
    vendor = "Tripp Lite"
    bus = "001"
