# Sample configuration file for smartd.  See man smartd.conf.

# Home page is: http://www.smartmontools.org

# smartd will re-read the configuration file if it receives a HUP
# signal

DEVICESCAN -a -m {{ smartd_email }} -f -s S/../.././02|L/../../6/03 -H -l error -l selftest -f -t -M exec /usr/share/smartmontools/smartd-runner
